.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

    .register-label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 16px;
      color: #333;

      input {
        margin-left: 10px;
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
        font-size: 16px;

        &:focus {
          outline: none;
          border-color: #0078d4;
        }
      }
    }

    .register-button {
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      background-color: #0078d4;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #005a9e;
      }

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }

    .register-error {
      margin-top: 10px;
      color: red;
    }
  }
}
